@media screen and (max-width: 600px){
    .desktop_image{
        display:none;
    }
    .mobile_image{
        display: block;
        max-width: 400px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    
    .product_info{
        flex: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0px;
        max-width: 400px;
    }
    .container{
        max-width: 400px;
    }
    body{
        padding:40px;
        margin-top:0px;
    }
    h1{
        width: 350px;
    }
    .product_info p{
        width:320px;
        max-width: 315px; 
        line-height: 25px;  
    }
    .discount_price{
        margin-top: 0px;
    }
    button{
        
        width:340px;
        
    }
}
