@import url(https://fonts.google.com/specimen/Fraunces);
@import url(https://fonts.google.com/specimen/Montserrat);
*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    color:var(--Darkgrayishblue);
    
}
:root{
    --Darkcyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Verydarkblue: hsl(212, 21%, 14%);
    --Darkgrayishblue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}
body{
    background-color: var(--Cream);       
}
img{
    max-inline-size: 100%;
    block-size: auto;/*means aspect ratio of images, will remain the same in any screen size*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: block;            
}
h1{
    font-family: Fraunces;  
    color: var(--Verydarkblue);
    font-size: 2.5rem;
    line-height: 1;
    margin-top: 15px;
}
span{
    font-size: 2rem;
    color:var(--Darkcyan);
    font-weight: bold;
}
s{
    margin-left: 30px;
}
button{
    width:340px;
    height: 50px;
    background-color: var(--Darkcyan);
    border-style: none;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
a{
    color:var(--White);
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}
.product_info{
    background-color:var(--White);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 30px;
    height: 55vh;
}
.container{
    max-width: 400px; 
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;    
}
.description{
    font-size: 1rem;
    margin-top: 15px;
}
.cart{
    margin-top: 20px;
}
.discount_price{
    margin-top: 15px;
}












