@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
/*applies every property and value universally*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    /* primary */
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    /* neutral */
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
  }
section{
    height: 100vh;/*means element should occupy 100% of the viewport height*/    
    display:flex;/*place elements of product description side by side with image*/
    justify-content: center;/*places all elements within section tag in the center of the screen*/
    align-items: center;/*gives all elements within section tag equal space at top and bottom*/    
    
}
.desktop_image{
    display:none;
}
.desktop_image, .product_info{
    height:400px;
    width:350px;
    background: white;
}
.mobile_image, .product_info{
    display:flex;
    width:440px;
}
.mobile_image{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}
.product_info{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding:0 2rem;
    flex-direction: column;/*sets the content of the product info div to flex in a column instead of a row*/
    justify-content: space-around;
}
img{
    width:100%;
}
